/**
 * featured-content.css - Stylesheet for the front side of the site.
 *
 * @package Featured Content
 * @subpackage templates
 * @author GrandSlambert
 * @copyright 2009-2011
 * @access public
 * @since 0.1
*/

#modal_container {
     margin: 8px;
}

#modal_content {
     color: #333333;
     font-size: 16px;
     line-height: 24px;
}
.modal-window {
     width: inherit;
}

.alignright {
     float: right;
     margin: 0 0 8px 10px;
}

.close-text {
     text-align: center;
     color: darkred;
     cursor: pointer;
}

.attachment-featured-content-thumb {
     margin: 2px 0;
     cursor: pointer;
}

img.featured-content-shortcode-image {
     margin: 0;
     border: solid 1px #666;
     float: left;
}